<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="../public/images/logo-mercado-liebre.jpg" />
	
	<title> Mercado Liebre Argentina</title>
	<%- include('../partials/head-links'); %>
</head>
<body>
	<%- include('../partials/header'); %>
	
	<!-- Banner -->
	<div class="banner">
		<img src="../public/images/img-home-banner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<%


novedades.forEach((producto) => {
	%> 

	<div class="col-12 col-sm-6 col-lg-3">
		<section class="product-box">
			<a href="product/<%=producto.id %>">
				<figure class="product-box_image">
					<img src="<%=producto.imagen %>" alt="cafetera moulinex">
				</figure>
				<article class="product-box_data">
					<h2><%=producto.nombre %></h2>
					<p><%=producto.descripcion %></p>
					<p>Comentarios: 3</p>
				</article>
			</a>
		</section>
	</div>

	<%
});
%> 

		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<%


masComentados.forEach((producto) => {
	%> 

	<div class="col-12 col-sm-6 col-lg-3">
		<section class="product-box">
			<a href="product/<%=producto.id %>">
				<figure class="product-box_image">
					<img src="<%=producto.imagen %>" alt="cafetera moulinex">
				</figure>
				<article class="product-box_data">
					<h2><%=producto.nombre %></h2>
					<p><%=producto.descripcion %></p>
					<p>Comentarios: 3</p>
				</article>
			</a>
		</section>
	</div>

	<%
});
%>
			
		</div>
	</div>
	<!-- /Más comentados -->


	<%- include('../partials/footer'); %>
</body>	
</html>