<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="../public/images/logo chico zapatilas prog.png" />

	<title> SNEAKERWORLD</title>
	<%- include('../partials/head-links'); %>
</head>
<body>
	
	<%- include('../partials/header'); %>

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=producto.nombre %></h2> 
			<p class="product-detail-description">
				<a href="/productEdit">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%=producto.imagen %>" alt="<%= producto.nombre %>" class="product-detail-img">
					<p class="product-detail-description">
						<%=producto.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
				
					
					<section class="comments">
						<%producto.Comentarios.forEach((comentario) => {	%>
						<article>
							<img src="../public/images/users/<%=comentario.imagenPerfil%>" alt="avatar user">
							<div class="data">
								<p class="user">
								<span> <%= comentario.Usuario.username %> </span>	
								<strong> <a href="/user/profile <%= comentario.usuarioId%>"><%=comentario.nombreUsuario%></a> </strong>
								<%=comentario.textoComentario%></p>
							</div>
						</article>
						<% 
					})
						%>
						

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include('../partials/footer'); %>

</body>	
</html>