<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="../public/images/wallpaper.jpeg" />

	<title> Mercado Liebre Argentina</title>
	<%- include('../partials/head-links'); %>
</head>
<body>
	
	<%- include('../partials/header'); %>

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=producto[0].nombre %></h2> 
			<p class="product-detail-description">
				<a href="/product-edit">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%=producto[0].imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%=producto[0].descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<%
					console.log("comentarios", comentarios)
					
				%>
					<section class="comments">
						<%


						comentarios.forEach((comentario) => {
	%>
						<article>
							<img src="../public/images/users/<%=comentario.imagenPerfil%>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile"><%=comentario.nombreUsuario%></a> </strong>
								<%=comentario.textoComentario%></p>
							</div>
						</article>
						<% 
					})


						%>
						

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include('../partials/footer'); %>

</body>	
</html>