<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo chico zapatilas prog.png" />

	<title> SNEAKERWORLD</title>
	<%- include('../partials/head-links'); %>
</head>

<body>
	<%- include('../partials/mainHeader'); %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>
				
				<form action="/product/edit/<%= producto.id %>" method="post" enctype="multipart/form-data">
				<input type="file" placeholder="Foto del producto" name="imagen" > <br>
				<input type="text" placeholder="Nombre del producto" name="nombre" value=<%= producto.nombre %>> <br>
				<textarea placeholder="Descripcion del producto" name="descripcion">
                    <%= producto.descripcion %>
                </textarea> <br>
				<input type="submit" value="subir" ><br>
			</form>
			</h2>


			<%- include('../partials/footer'); %>
</body>

</html>