<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo chico zapatilas prog.png" />
	
	<title> SNEAKERWORLD</title>
			<!-- Font Awesome Stylesheet -->
			<%- include('../partials/head-links'); %>
</head>
<body>
	<%- include('../partials/headerLogeado'); %>

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src=<%= "/images/users/" + locals.usuario.foto %> alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> <%= usuario.username %>  
						<a href="/user/profileEdit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<p>
						Productos Totales: <%= usuario.Productos.length %>
					</p>
					<ul class="">
						<% for(let index = 0; index < usuario.Productos.length; index++){ %>
						<li>
							<div><p>Nombre Producto</p>
								<a href=<%= "/product/" + usuario.Productos[index].id %> ><%= usuario.Productos[index].nombre %></a>
								<form action=<%= "/product/delete/" + usuario.Productos[index].id %>  method="post">
									<input type="submit" value="Eliminar">
								</form>
							</div>
						</li>
					<% } %>

					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	


	<%- include('../partials/footer'); %>
</body>	
</html>

