<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo chico zapatilas prog.png" />

	<title> SNEAKERWORLD </title>
	<%- include('../partials/head-links'); %>
</head>

<body>
	<%- include('../partials/mainHeader'); %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i> Resultados de busqueda:</h2>
			<% if (productos.length > 0) { %>
				<% for( let index = 0; index < productos.length; index++ ) { %>
					<div>
						<h3><a href=<%= productos[index].id %> ><%= productos[index].nombre %></a></h3>
						<p><%= productos[index].descripcion %></p>
						<figure class="product-box_image">
							<img src="<%= "/images/" + productos[index].foto %>" alt=<%= productos[index].nombre %>>
						</figure>
					</div>
				<% } %>
			<% } else { %>
				<h3>No se encontraron resultados</h3>
			<% } %>


			<%- include('../partials/footer'); %>
</body>

</html>